* {
    font-family: "Architects Daughter", cursive;
}

#new-task-controls-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 10%;
}

#new-task-controls {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#new-task-field {
    border-style: solid;
    border-color: #000;
    border-radius: 30px;
    font-size: 16pt;
    transition: 0.5s;
    width: 500px;
    height: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

#new-task-field:hover {
    background-color: #ddd;
    transition: 0.5s;
}

#add-task-button {
    border-style: solid;
    border-color: #000;
    border-radius: 30px;
    font-size: 16pt;
    transition: 0.5s;
    width: 250px;
    height: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

#add-task-button:hover {
    background-color: #ddd;
    transition: 0.5s;
}

#todo-list-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 37.5%;
}

ul {
    max-width: 60%;
    max-height: 32.5%;
    padding: 0;
}

ul.not-empty {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 30px;
    border-color: #000;
}

ul li {
    color: black;
    font-size: 16pt;
    list-style-type: none;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 56px;
    padding-right: 20px;
    transition: 0.5s;
}

ul li.top {
    border-radius: 30px 30px 0px 0px;
}

ul li.bottom {
    border-radius: 0px 0px 30px 30px;
}

ul li.top.bottom {
    border-radius: 30px;
}

ul li.complete {
    text-decoration-line: line-through;
    background-color: #eee;
    padding-left: 20px;
}

ul li.complete::before {
    content: url('../images/check-logo.png');
    font-size: 5%;
    padding-right: 16px;
}

ul li:hover {
    background-color: #ddd;
    transition: 0.5s;
}

ul li .delete-button {
    float: right;
    font-size: 20pt;
}

ul li .delete-button:hover {
    font-weight: bold;
}

#statistics-container {
    border-style: solid;
    border-color: #000;
    border-radius: 30px;
    font-size: 16pt;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    text-align: center;
    padding: 20px;
}